<article class="card {{post_class}}">
    <a href="{{url}}" class="card-link">
        <time class="card-date" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="MMMM D, YYYY"}}
        </time>
        <h2 class="card-title">{{title}}</h2>
        {{#if custom_excerpt}}
            <p class="card-excerpt">{{custom_excerpt}}</p>
        {{else}}
            <p class="card-excerpt">{{excerpt words="25"}}</p>
        {{/if}}
        {{#if primary_tag}}
            <span class="card-tag">{{primary_tag.name}}</span>
        {{/if}}
    </a>
</article>
